body{
    font-family: "Tahoma";
}
/* display:block/inline/none/flex/grid */
main {
    /* property: value */
    display: flex;
    /* background-color: purple; */
    /* justify-content: center;  */
}

#left{
    /* background-color: orange; */
    width: 45%;
    margin:30px 100px;
}

#right{
    background-color: greenyellow;
    width: 55%;
    text-align: center;
}

/* h1{
   border:5px dashed rgb(215, 29, 29); 
   top right bottom left
   padding:10px 20px 30px 40px;
   margin:10px 20px 30px 40px;
    
} */

/* Child selector */
nav>ul {
display: flex;
justify-content: flex-end;
gap:40px;
margin:50px 100px;
/* background-color: aquamarine; */
}

.nav-link{
    /* border: 1px solid blue; */
    list-style: none;
    padding:8px 15px;
    margin:2px 5px;
}
/* Use class btn as a button template */
.btn{
    background-color: #d8e4ef;
}
.btn:hover{
    background-color: #396ee1;
    color: white;
}

#left p {
margin:35px 0px
}

#left h1{
    font-size: 40px;
}

.chat-btn{
    display: block;
    width: 200px;
    padding:14px 25px;
    margin:20px 0px;
    font-weight: 700;
    border: none;
 /* <button> does not inherit 
        font styles from the <body> 
        or other parent elements 
        by default. */
    font-family: inherit;
}

#image {
    width: 90%;
}

a {
    color: black;
    text-decoration: none;
}

/* #about-btn{
    color:purple;
    background-color: green;
} */

span{
    color: pink;
}
